{% load static %}

{% if user.is_authenticated %}

  	Welcome {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
  
	<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

	{% if latest_question_list %}
		<ul>
			{% for question in latest_question_list %}
				<li><a href="{% url 'polls:detail' question.id %}">{{question.question_text}} </a></li>
			{% endfor %}
		</ul>

	{% else %}
		<p>No polls are available.</p>
	{% endif %}
{% else %}	
	<p> LOGIN TO PROCEED </p>
	<p><a href="{% url 'login' %}">Login</a></p>


{% endif %}

