<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
<p>No account? <a href="{% url 'registration:signup' %}"> Sign Up </a> Now </p>
